<h2 style="text-align: center">{{name}}</h2>
<div style="display: flex; justify-content: center">
  <div>
    <p style="font-weight: 700">Capital: <span style="font-weight: 500">{{capital}}</span></p>
    <p style="font-weight: 700">Population: <span style="font-weight: 500">{{population}}</span></p>
    <p style="font-weight: 700">Languages: </p>
    <ul style="padding-left: 20px">
      {{#each languages}}
      <li>{{this.name}}</li>
      {{/each}}
    </ul>
  </div>
  <img src="{{flag}}" width="200" style="margin-left: 30px">
</div>